@{
    ViewData["Title"] = "Quản lí xe dành cho admin";
    ViewData["Description"] = "MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe tại một điểm và trả xe tại một điểm khác trên cùng một hệ thống.";
}

<div style="height: 100vh;">
    xin chao view admin
</div>
