@{
    ViewData["Title"] = "Xe Máy Trang Chủ";
    ViewData["Description"] = "MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe tại một điểm và trả xe tại một điểm khác trên cùng một hệ thống.";
}

<div class="destination-fl-ad">
    <div class="destination-fl-ad-heading">
        <h2>THUÊ XE MÁY TẠI</h2>
        <img src="https://motogo.vn/wp-content/themes/motogo/images/moto-icon.jpg" alt="">
        
    </div>
    <div class="destination-fl-ad-body">
        <a href="">
            <h3>Hà Nội</h3>
            <img src="https://motogo.vn/wp-content/uploads/2020/02/ha-noi-co-bao-nhieu-quan8.jpg" alt="">

        </a>
        <a href="">
            <h3>Hà Nội</h3>
            <img src="https://motogo.vn/wp-content/uploads/2020/02/canh-dep-sapa.jpg" alt="">
        </a>
        <a href="">
            <h3>Hà Nội</h3>
            <img src="https://motogo.vn/wp-content/uploads/2020/05/kinh-nghiem-di-du-lich-ninh-binh-3-min.jpg" alt="">
        </a>
        <a href="">
            <h3>Hà Nội</h3>
            <img src="https://motogo.vn/wp-content/uploads/2020/02/P12609563_MUAC-1.jpg" alt="">
        </a>
    </div>
</div>
