@{
    ViewData["Title"] = "Xe Máy Trang Chủ";
    ViewData["Description"] = "MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe tại một điểm và trả xe tại một điểm khác trên cùng một hệ thống.";
}

<<<<<<< HEAD
<div>
    xin chao 12132

    <div class="bg-cate-cars ">
        <div class="form-cate-cars container">
            <div class="form-logo">
                <img src="	https://motogo.vn/wp-content/themes/motogo/images/moto-icon.jpg" alt="">
            </div>

            <div class="form-content">
                <p class="header-content">danh mục xe máy</p>
                
                <p class="sub-title">Toàn bộ xe máy cho thuê của chúng tôi là xe được mua mới 100% , được đăng ký chính chủ . Ngoài ra , các xe sau khi kết thúc hợp đồng với khách sẽ được kiểm tra , bảo dưỡng, thay thế các bộ phận hỏng hóc và phải đạt chuẩn an toàn xe trước khi giao cho khách hàng mới.</p>
                
                <div class="list-cars container row g-5">
                    <div class="form-item col-md-3">
                        <p class="name-car">Yamaha Sirius 110cc</p>
                        <p class="price-car"><span>130</span>.000/ Ngày</p>
                        
                        <div class="list-info">
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> 02 mũ bảo hiểm 1/2 đầu</li>
                                <li><i class="bi bi-check-circle-fill"></i> 02 áo mưa dùng một lần</li>
                            <li><i class="bi bi-check-circle-fill"></i> Giá đỡ điện thoại</li>
                            <li><i class="bi bi-check-circle-fill"></i> Xe đi các tỉnh, đi phượt thu thêm 50.000đ/ngày</li>
                        </ul>
                    </div>
                    <img src="https://motogo.vn/wp-content/uploads/2020/04/cho-thue-xe-may-ha-noi-min.png" alt="">

                    <button>đặt xe</button>
                </div>

                <div class="form-item col-md-3">
                    <p class="name-car">Honda Vision 110cc</p>
                    <p class="price-car"><span>180</span>.000/ Ngày</p>

                    <div class="list-info">
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> 02 mũ bảo hiểm 1/2 đầu</li>
                            <li><i class="bi bi-check-circle-fill"></i> 02 áo mưa dùng một lần</li>
                            <li><i class="bi bi-check-circle-fill"></i> Giá đỡ điện thoại</li>
                            <li><i class="bi bi-check-circle-fill"></i> Bảo hiểm + Đăng ký xe photo</li>
                        </ul>
                    </div>

                    <img src="https://motogo.vn/wp-content/uploads/2022/02/Honda-vision-2022.png" alt="">

                    <button>đặt xe</button>
                </div>

                <div class="form-item col-md-3">
                    <p class="name-car">Honda AirBlade 125cc</p>
                    <p class="price-car"><span>200</span>.000/ Ngày</p>

                    <div class="list-info">
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> 02 mũ bảo hiểm 1/2 đầu</li>
                            <li><i class="bi bi-check-circle-fill"></i> 02 áo mưa dùng một lần</li>
                            <li><i class="bi bi-check-circle-fill"></i> Giá đỡ điện thoại</li>
                            <li><i class="bi bi-check-circle-fill"></i> Bảo hiểm + Đăng ký xe photo</li>
                        </ul>
                    </div>
                    <img src="https://motogo.vn/wp-content/uploads/2023/10/Honda-Airblade-125cc-2023-website.png" alt="">

                    <button>đặt xe</button>
                </div>

                <div class="form-item col-md-3">
                    <p class="name-car">Yamaha Sirius 110cc</p>
                    <p class="price-car"><span>130</span>.000/ Ngày</p>

                    <div class="list-info">
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> 02 mũ bảo hiểm 1/2 đầu</li>
                            <li><i class="bi bi-check-circle-fill"></i> 02 áo mưa dùng một lần</li>
                            <li><i class="bi bi-check-circle-fill"></i> Giá đỡ điện thoại</li>
                            <li><i class="bi bi-check-circle-fill"></i> Xe đi các tỉnh, đi phượt thu thêm 50.000đ/ngày</li>
                        </ul>
                    </div>
                    <img src="https://motogo.vn/wp-content/uploads/2023/09/WinnerX-150cc.png" alt="">

                    <button>đặt xe</button>
                </div>

                <div class="form-table-booking">
                    <p>Để thuê xe máy dài ngày, vui lòng xem chi tiết bảng giá dưới đây !</p>

                    <div class="navigate-booking">
                        <div class="divider"></div>
                        <button>bảng giá thuê xe máy dài ngày</button>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
=======
<div style="height: 100vh;" >
    <form action="/action" method="POST">
        <input type="text">
        <button class="check">Submit</button>
    </form>
>>>>>>> 1f93724bcb2bdcd30b983f91ff1437b0bc51f828
</div>

