@{
    ViewData["Title"] = "Xe Máy Trang Chủ";
    ViewData["Description"] = "MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe tại một điểm và trả xe tại một điểm khác trên cùng một hệ thống.";
}

<div>
    xin chao 12132
</div>
