.form-price-list[b-lpmya6a682]{
    width: 100%;
   .overlay-color {
        width: 100%;
        height: 300px;
        background-color: rgb(255,245,203);
        display: flex;
        align-items: center;
        justify-content: center;

        .form-header{
            
            h1{
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
            }

            .underlined-h1[b-lpmya6a682]{
                height: 4px;
                width: 80px;
                background-color: #ffc107;
                margin-left: 50%;
                transform: translateX(-50%);
            }

            p[b-lpmya6a682]{
                margin-top: 10px;
                text-align: center;

                span{
                    font-size: 16px;

                    i{
                        line-height: 16px;
                    }
                }

                .text-home[b-lpmya6a682]{
                    color: #ffc107;
                }
            }
        }

   }
}