<header class="shadow-sm">
    <div class="container">
        <div class="header-wp">
            <div class="left-header">
                <a href="/">
                    <partial name="../icons/logo.cshtml" />
                </a>
            </div>
            <div class="right-header">
                <ul>
                    <li>
                        <a href="/thue-xe-may">Thuê Xe Máy</a>
                    </li>
                    <li>
                        <a href="/about/pricelist">Bảng Giá</a>
                    </li>
                    <li>
                        <a href="/about/policyBooking">Chính Sách</a>
                    </li>
                    <li>
                        <a href="/about/introduce">Giới Thiệu</a>
                    </li>
                    <li>
                        <a href="/chinh-sach">Liên Hệ</a>
                    </li>
                    <li>
                        <a href="/chinh-sach">Blog Du Lịch</a>
                    </li>
                    <li>
                        <a href="/system">Dành cho admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>