@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    Us e this page to detail your site's privacy policy.
    <span>


    </span>
</p>
@{
    for (var i = 0; i < 10; i++)
    {
        <p style="color: #ee4d2d">In ra @i</p>
    }
}