@{
    ViewData["Title"] = "Gioi Thieu";
}

<div class="form-introduce">
    <div class="overlay">
        <div class="container form-header">
            <h1>về chúng tôi</h1>
            <div class="underlined-h1"></div>
        </div>
    </div>

    @* *@
    <div class="text-introduce">
        <div class="container">

            <p>MOTOGO là dịch vụ cho thuê xe máy tự lái chuyên nghiệp tại Việt Nam, cho phép người thuê có thể nhận xe
                tại
                một điểm và trả xe tại một điểm khác trên cùng một hệ thống. Với mục tiêu tạo ra tạo sự thuận tiện tối
                đa
                cho khách thuê xe, chúng tôi sẽ xây dựng hệ thống các trạm, điểm giao nhận xe trải dài tại tất cả các
                tỉnh
                thành phố du lịch, tạo ra mạng lưới điểm giao nhận xe rộng khắp cho phép người thuê nhận và đi đến bất
                kỳ
                thành phố nào cũng có thể trả xe.</p>
        </div>
    </div>
    <div class="path"></div>

    @* *@
    <div class="form-text-admin">
        <div class="container">

            <h1>đội ngũ quản trị</h1>
            <div class="row">
                <div class="col-md-3 col-sm-6 member">
                    <div class="underlined"></div>

                    <p class="name">hieu nguyen</p>

                    <p class="position">Founder and CEO</p>

                    <p>Sau khi tốt nghiệp thạc sỹ Marketing tại đại học Swinburne University of Technology. Hiếu Nguyễn
                        về
                        làm việc cho một công ty viễn thông tại Việt Nam với vai trò phụ trách nghiên cứu thị trường và
                        phát
                        triển các sản phẩm công nghệ mới tại công ty. Sau hơn 5 năm làm việc tại đây, Hiếu Nguyễn rời
                        khỏi
                        cty và xây dựng lên MOTOGO, bắt đầu con đường riêng của mình dựa với mục tiêu đưa MOTOGO trở
                        thành
                        đơn vị cung cấp dịch vụ thuê xe số 1 Việt Nam.</p>
                </div>

                <div class="col-md-3 col-sm-6 member">
                    <div class="underlined"></div>

                    <p class="name">EX-COLLEAGUES ex-colleagues</p>

                    <p class="position">Managers</p>

                    <p>Những người đã có sự đóng góp vào sự phát triển của MOTOGO giai đoạn ban đầu. Họ đã dành một phần
                        tuổi thanh xuân làm việc ở đây. Sự đóng góp của họ là luôn được những người ở lại tiếp bước ghi
                        nhớ
                        và cảm ơn những đóng góp của họ.</p>
                </div>
            </div>
        </div>
    </div>

    @* *@
    <div class="form-target-value container">
        <div class="form-logo">
            <img src="	https://motogo.vn/wp-content/themes/motogo/images/moto-icon.jpg" alt="">
        </div>

        <div class="form-content">
            <p class="header-content">giá trị hướng đến</p>

            <div class="row list-cate">
                <div class="col-4 form-item">
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <p class="cate">an tâm</p>

                    <p class="content-cate">Với 100% xe cho thuê là xe máy mới, đồng đều về kiểu dáng chất lượng. Ngoài
                        ra, các xe đều được
                        áp dụng quy trình bảo dưỡng để đảm bảo xe luôn trong điều kiện tốt nhất trước khi giao xe cho
                        khách.</p>
                </div>

                <div class="col-4 form-item">
                    <div class="image">
                        <img src="	https://motogo.vn/wp-content/themes/motogo/images/about/responsibility.png" alt="">
                    </div>
                    <p class="cate">đồng hành</p>
                    <p class="content-cate">MOTOGO cung cấp dịch vụ hỗ trợ khách hàng 24/24h thông qua các kênh hotline
                        và Mạng xã hội, giúp
                        giải đáp thắc mắc của khách hàng bất cứ khi nào cần.</p>
                </div>

                <div class="col-4 form-item">
                    <div class="image">

                        <img src="https://motogo.vn/wp-content/themes/motogo/images/about/development.png" alt="">
                    </div>
                    <p class="cate">minh bạch</p>

                    <p class="content-cate">Sự minh bạch rõ ràng trong các chính sách thuê xe, mức giá thuê xe đều được
                        công khai và thông
                        báo cho khách hàng để đảm bảo khách hàng có thể yên tâm khi có vấn đề xảy ra.</p>
                </div>
            </div>
        </div>
    </div>


    @* *@

    <div class="overlay-news">
        <div class="form-newspapers container">
            <div class="logo">
                <img src=" https://motogo.vn/wp-content/themes/motogo/images/moto-icon.jpg" alt="">
            </div>

            <div class="list-newspapers">
                <p class="header-content">báo chí nói về chúng tôi</p>

                @* <div class="container">
                </div> *@
                <div class="row list-item gx-5">
                    <div class="col-3 form-item">
                        <a href="https://znews.vn/tiem-nang-tu-dich-vu-cho-thue-xe-may-post1193319.html">
                            <div class="content-item">
                                <img src="	https://motogo.vn/wp-content/uploads/2021/03/logo-zing-home-3.png"
                                    alt="zingnews">
                                <p>Zingnews</p>

                            </div>
                        </a>
                    </div>

                    <div class="col-3 form-item">
                        <a href="https://hanoimoi.vn/motogo-dich-vu-cho-thue-xe-may-chuyen-nghiep-513936.html">
                            <div class="content-item">
                                <img src="	https://motogo.vn/wp-content/uploads/2021/03/ha-noi-moi-2.png"
                                    alt="hanoimoi">
                                <p> Honoimoi.com.vn</p>
                            </div>
                        </a>

                    </div>

                    <div class="col-3 form-item">
                        <a
                            href="https://www.tinmoi.vn/kinh-nghiem-thue-xe-may-da-nang-cho-nguoi-thue-xe-lan-dau-011550005.html">
                            <div class="content-item">
                                <img src="https://motogo.vn/wp-content/uploads/2021/03/tin-moi-1.png" alt="tinmoi">
                                <p>Tinmoi.vn</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-3 form-item">
                        <a href="https://startup.vnexpress.net/startup/thong-tin/motogo-1157.html">
                            <div class="content-item">
                                <img src="https://motogo.vn/wp-content/uploads/2021/03/VnExpress_logo-2.png"
                                    alt="vnexpress">
                                <p>Vnexpress.net</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-3 form-item">
                        <a
                            href="https://thoidai.com.vn/giai-nhiet-mua-he-voi-7-bai-bien-tuyet-dep-cua-da-nang-108969.html">
                            <div class="content-item">
                                <img src="https://motogo.vn/wp-content/uploads/2021/03/logo-1-4.png" alt="thoidai">
                                <p>Thoidai.com.vn</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-3 form-item">
                        <a
                            href="https://dantri.com.vn/kinh-doanh/kinh-nghiem-chon-thue-xe-may-cho-nguoi-di-phuot-20210311162154197.htm">
                            <div class="content-item">
                                <img src="https://motogo.vn/wp-content/uploads/2021/03/lg_dantri_dktop1-2.png"
                                    alt="dantri">
                                <p>Dantri.com.vn</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
