@{
    ViewData["Title"] = "Chính sách";
}

<div class="form-policy-booking">
    <div class="overlay">
        <div class="container form-header">
            <h1>chính sách</h1>
            <div class="underlined-h1"></div>
        </div>

        <div class="form-content container">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7"></div>
            </div>

        </div>
    </div>
</div>