@{
    ViewData["Title"] = "Bang gia";
}

<div class="form-price-list">
    <div class="overlay-color">
        <div class="container form-header">
            <h1>bảng giá</h1>
            <div class="underlined-h1"></div>
            <p>
                <span><i class="bi bi-house-door-fill"></i></span>
                <span class="text-home">Trang chủ</span>
                <span><i class="bi bi-chevron-double-right"></i> Bảng giá thuê xe máy</span>
            </p>
        </div>
    </div>

    <div class="container">
        <table></table>
    </div>

    <div class="form-note container p-5">
        <p style="font-size: 20px; font-weight: 700;">lưu ý :</p>

        <p style="font-size: 16px;">Giá thuê xe máy tại Hà Nội áp dụng từ ngày 20/04/2022. Chúng tôi xin lỗi vì sự thay
            đổi này là bắt buộc do
            ảnh hưởng bởi các khoản chi phí tăng cao sau dịch.</p>

        <p style="font-size: 16px;">Giá thuê Yamaha Sirius tại Hà Nội trên chỉ áp dụng cho thuê xe đi trong các quận
            huyện nội thành. Xe Yamaha
            Sirius đi tỉnh (ra khỏi Hà Nội), đi phượt vùng đồi núi Đông - Tây Bắc, Ba Vì, Tam Đảo,... sẽ phụ thu thêm
            50.000đ/ngày.</p>

        <p style="font-size: 20px; font-weight: 700;">THÔNG TIN CHUYỂN KHOẢN ĐẶT CỌC:</p>

        <p style="font-size: 16px;">
            Ngân hàng <span style="font-weight: 700;">MB Bank</span><br />
            Số tài khoản: <span style="font-weight: 700;">1 0209 1945</span><br />
            Chủ tài khoản: <span style="font-weight: 700;">Nguyễn Huy Hiếu</span><br />
            Nội dung chuyển khoản: <span style="font-weight: 700;">{{Họ và tên}} coc thue xe may
                ngay thang nam. Ví dụ:
                NGUYEN VAN A coc thue xe
                may 010422</span><br />
        </p>

        <p style="font-size: 16px;">Sau khi chuyển khoản, bạn vui lòng chụp lại màn hình và gửi lại cho chúng tôi qua
            Fanpage hoặc Zalo để xác
            nhận việc đặt cọc. Cám ơn bạn nhiều!</p>
    </div>
</div>